*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:focus {
    outline: 0;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: $font-primary;
    display: flex;
    height: 100%;
}

section {
    background-color: $color-white;
    box-shadow: 0 0 10px 0 rgba($color-black, .1);

    &:not(:last-of-type) {
        margin-bottom: 15px;
    }
}

.column {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;

    @include respond(break-m) {
        flex-direction: column-reverse;
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100vh;
    background-color: $color-grey;
    width: 15%;

    @include respond(break-m) {
        width: 0;
        overflow: hidden;

        &__checkbox:checked ~ & {
            width: 100%;
        }
    }
}

.topmenu {
    flex-shrink: 0;
    display: inline-flex;
    justify-content: flex-end;

    @include respond(break-m) {
        justify-content: center;
        width: 100%;
    }
}

.content {
    flex-grow: 1;
    overflow: auto;
    background-color: $color-grey-light-2;
    padding: 15px;
}