.btn {
    font-size: $button;
    text-decoration: none;
    font-weight: 300;
    color: $color-white;
    // padding: 1rem 2rem;
    border-radius: 4px;
    transition: $transition;
    backface-visibility: hidden;
    overflow: hidden;
    border: none;
    cursor: pointer;

    display: inline-block;

    &-orange,
    &-orange:link,
    &-orange:visited {
        background-color: $color-orange-dark;

        &:hover {
            background-color: $color-orange;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &-grey,
    &-grey:link,
    &-grey:visited {
        background-color: $color-grey-dark-2;

        &:hover {
            background-color: $color-grey-dark-3;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &-disabled,
    &-disabled:link,
    &-disabled:visited {
        background-color: $color-grey-light-1;
        cursor: not-allowed;
    }

    &-padding {
        padding: 1rem 2rem;
    }
}