.hyperlink {
    @include transition;
    
    &-lg:link,
    &-lg:visited {
        font-size: $font-m;

        @include respond(break-s) {
            font-size: $font-xs;
        }
    }

    &-sm:link,
    &-sm:visited {
        font-size: $font-xs;
    }

    @include respond(hover) {
        
        &:hover,
        &:active {
            color: $color-orange;
        }
    }
}