.hyperlink {
    @include transition;
    
    &-lg:link,
    &-lg:visited {
        font-size: 1.6rem;

        @include respond(break-s) {
            font-size: 1.2rem;
        }
    }

    &-sm:link,
    &-sm:visited {
        font-size: 1.3rem;
    }

    @include respond(hover) {
        
        &:hover,
        &:active {
            color: $color-orange;
        }
    }
}