.page-counter {
    @include flex-row-center;
    justify-content: center;
    list-style: none;
    margin: 4rem 0 2rem;

    &__item {
        display: inline-block;
    }

    &__link {
        padding: 1rem 1.5rem;

        &--current {
            color: $color-grey-dark-2;
            font-weight: 500;
            background-color: $color-grey-light-2;
        }

        &:hover,
        &:active {
            
            &:not(.page-counter__link--current) {
                background-color: $color-grey-light-1;
            }
        }
    }

    &__icon {
        fill: $color-grey-dark-2;
        width: 1.3rem;
        height: 1.3rem;
        cursor: pointer;
    }
}