.table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;

    //DETAILS & PAYOUT

    &__head {
        color: $color-grey-dark-2;
        font-size: $font-s;
        padding: 10px 10px;
        text-align: left;
        margin: 10px;

        @include respond(break-xl) {
            font-size: $font-xs;
            padding: 10px 5px;
        }
    }

    &__cell {
        padding: 20px 10px;
        font-size: $font-s;
        font-weight: 300;

        @include respond(break-xl) {
            padding: 10px 5px;
            font-size: $font-xs;
        }
    }

    &__option {
        @include flex-row-center;
        @include transition;
        cursor: pointer;
        padding: 5px;
        margin-left: -5px;
        display: inline-flex;
        
        @include respond(hover) {

            &:hover,
            &:active {
                background-color: $color-grey-light-2;
                border-radius: 4px;
                color: $color-black;
            }
        }
    }

    //LINKS

    &__arrow {
        fill: currentColor;
        width: 8px;
        height: 8px;
        margin: 5px;
    }

    &__title {
        padding: 20px 75px 20px 20px;
        margin-right: 5rem;

        @include respond(break-s) {
            padding: 10px;
            margin: 0;
        }
    }

    &__row {
        @include transition;
        border-top: 1px solid $color-grey-light-1;
        cursor: pointer;
        white-space: nowrap;

        &:last-of-type {
            border-bottom: 1px solid $color-grey-light-1;
        }
        
        @include respond(hover) {

            &:hover,
            &:active {
                background-color: rgba($color-blue, .1);
            }
        }
    }

    &__icon-box {
        @include transition;
        text-align: right;
        padding-right: 10px;

        @include respond(break-s) {
            @include flex-row-center;
            opacity: 1;
            justify-content: center;
            padding: 10px;
        }
    }

    &__icon {
        @include transition;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        opacity: .5;

        &--links {
            stroke: $color-orange;
        }

        &--trash {
            stroke: $color-grey-dark-2;
        }
        
        @include respond(hover) {

            &:hover,
            &:active {
                opacity: 1;
            }
        }

        @include respond(break-s) {
            width: 15px;
            height: 15px;
        }
    }
}