.topmenu {
    border-bottom: 1px solid $color-grey-light-1; 
    color: $color-grey-dark-2;

    @include respond(break-m) {
        border-bottom: none;
        border-top: 1px solid $color-grey-light-1; 
    }

    &__list {
        @include flex-row;
        list-style: none;

        @include respond(break-m) { 
            justify-content: space-between;
            width: 100%;
        }
    }

    &__item {
        @include flex-row-center;
        @include transition;
        border-left: 1px solid $color-grey-light-1;
        padding: 10px;
        
        @include respond(hover) {
        
            &:hover,
            &:active {
                background-color: rgba($color-grey-light-2, .7);
            }
        }

        @include respond(break-xl) {
            padding: 0;
        }

        @include respond(break-m) {
            width: 100%;
            justify-content: center;

            &:last-of-type {
                border-right: 1px solid $color-grey-light-1;
            }
        }
    }

    &__icon {
        fill: $color-grey-dark-2;
        width: 18px;
        height: 18px;
        margin: 14px;
        position: relative;
        z-index: 5;

        @include respond(break-s) {
            width: 15px;
            height: 15px;
            margin: 10px;
        }
    }

    &__amount {
        font-size: $font-xl;
        font-weight: 500;

        @include respond(break-s) {
            font-size: $font-min;
        }
    }

    &__arrow {
        fill: currentColor;
        width: 10px;
        height: 10px;
        margin: 14px;
        cursor: pointer;
    }

    &__link:link,
    &__link:visited {
        position: relative;

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 8px;
            height: 8px;
            background-color: $color-orange-dark;
            top: 12px;
            right: 12px;
            z-index: 10;
            border-radius: 50%;

            @include respond(break-s) {
                top: 10px;
                right: 10px;
            }
        }
    }

    &__profile {
        margin-right: 14px;
    }

    &__button {
        border: none;
        background: transparent;
        color: $color-blue;
        cursor: pointer;
        font-weight: 300;
        @include flex-row-center;
        font-size: $font-xs;

        @include respond(break-s) {
            font-size: $font-min;
        }
    }


}