h1 {
    font-family: $font-logo;
    letter-spacing: 0px;
    font-size: 3rem;
    margin: 0 !important;
    color: $color-white;
}

h2,
h4 {
    text-transform: uppercase;
}

h2,
h3 {
    font-size: 1.6rem;
    font-weight: 500;
    color: $color-grey-dark-3;
    line-height: 4.2rem;
}

h4 {
    font-size: 1.4rem;
    font-weight: 500;
    color: $color-grey-dark-2;
}

h5 {

}

h6 {

}

p {
    font-size: 1.4rem;
    font-weight: 300;
    color: $color-grey-dark-1;
}

a {
    text-decoration: none;
    color: $color-blue;
    font-weight: 300;
}

ul {
    
}

ol {

}

li {
    font-size: 1.4rem;
    font-weight: 300;
}

strong {

}

// .logo {
//     font-family: $font-logo;
//     letter-spacing: 0px;
//     font-size: 3rem;
// }