h2,
h4 {
    text-transform: uppercase;
}

h2,
h3 {
    font-size: 1.6rem;
    font-weight: 500;
    color: $color-grey-dark-3;

    @include respond(break-s) {
        font-size: 1.4rem;
    }
}

h4 {
    font-size: 1.4rem;
    font-weight: 500;
    color: $color-grey-dark-2;

    @include respond(break-l) {
        font-size: 1.2rem;
    }
}

p {
    font-size: 1.4rem;
    font-weight: 300;
    color: $color-grey-dark-1;
}

a {
    text-decoration: none;
    color: $color-blue;
    font-weight: 300;
    font-size: 1.6rem;

    @include respond(break-l) {
        font-size: 1.4rem;
    }
}

li {
    font-size: 1.4rem;
    font-weight: 300;
}

.logo {
    font-family: $font-logo;
    letter-spacing: 0px;
    font-size: 3rem;
    color: $color-white;
}

.section__title {
    width: 100%;
    padding: 1.5rem;
    border-bottom: 1px solid $color-grey-light-1;
}