.details {
    
    &__container {
        padding: 20px;
        width: 100%;

        @include respond(break-xl) {
            padding: 10px 0;
        }
    }

    &__wrapper {
        width: 100%;
        display: block;
        overflow-x: auto;
    }
}